-
    const nichesLocale = t.course.niches
    const nichesProductList = t.productList.niches

    const COURSE_CONFIG = {
        'joints': {
            title: nichesLocale.joints.title,
            courses: {
                4: {
                    badge: nichesLocale.joints.courses[0].badge,
                    // discount: nichesLocale.joints.courses[0].discount,
                    subtitle: nichesLocale.joints.courses[0].subtitle,
                    products: nichesProductList.joints.courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    image: 'joints-complex.png'
                },
                6: {
                    badge: nichesLocale.joints.courses[1].badge,
                    // discount: nichesLocale.joints.courses[1].discount,
                    subtitle: nichesLocale.joints.courses[1].subtitle,
                    description: nichesLocale.joints.courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'joints-complex-6.png'
                }
            }
        },
        'diabetes': {
            title: nichesLocale.diabetes.title,
            courses: {
                4: {
                    badge: nichesLocale.diabetes.courses[0].badge,
                    // discount: nichesLocale.diabetes.courses[0].discount,
                    subtitle: nichesLocale.diabetes.courses[0].subtitle,
                    products: nichesProductList.diabetes.courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    image: 'diabetes-complex.png'
                },
                6: {
                    badge: nichesLocale.diabetes.courses[1].badge,
                    // discount: nichesLocale.diabetes.courses[1].discount,
                    subtitle: nichesLocale.diabetes.courses[1].subtitle,
                    description: nichesLocale.diabetes.courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'diabetes-complex-6.png'
                }
            }
        },
        'blood-pressure': {
            title: nichesLocale['blood-pressure'].title,
            courses: {
                4: {
                    badge: nichesLocale['blood-pressure'].courses[0].badge,
                    // discount: nichesLocale['blood-pressure'].courses[0].discount,
                    subtitle: nichesLocale['blood-pressure'].courses[0].subtitle,
                    products: nichesProductList['blood-pressure'].courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'bloodpressure-complex.png'
                },
                6: {
                    badge: nichesLocale['blood-pressure'].courses[1].badge,
                    // discount: nichesLocale['blood-pressure'].courses[1].discount,
                    subtitle: nichesLocale['blood-pressure'].courses[1].subtitle,
                    description: nichesLocale['blood-pressure'].courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'bloodpressure-complex-6.png'
                }
            }
        },
        'weight-loss': {
            title: nichesLocale['weight-loss'].title,
            courses: {
                4: {
                    badge: nichesLocale['weight-loss'].courses[0].badge,
                    // discount: nichesLocale['weight-loss'].courses[0].discount,
                    subtitle: nichesLocale['weight-loss'].courses[0].subtitle,
                    products: nichesProductList['weight-loss'].courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    image: 'weightloss-complex.png'
                },
                6: {
                    badge: nichesLocale['weight-loss'].courses[1].badge,
                    // discount: nichesLocale['weight-loss'].courses[1].discount,
                    subtitle: nichesLocale['weight-loss'].courses[1].subtitle,
                    description: nichesLocale['weight-loss'].courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'weightloss-complex-6.png'
                }
            }
        },
        'tiredness': {
            title: nichesLocale.tiredness.title,
            courses: {
                4: {
                    badge: nichesLocale.tiredness.courses[0].badge,
                    // discount: nichesLocale.tiredness.courses[0].discount,
                    subtitle: nichesLocale.tiredness.courses[0].subtitle,
                    products: nichesProductList.tiredness.courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    image: 'tiredness-complex.png'
                },
                6: {
                    badge: nichesLocale.tiredness.courses[1].badge,
                    // discount: nichesLocale.tiredness.courses[1].discount,
                    subtitle: nichesLocale.tiredness.courses[1].subtitle,
                    description: nichesLocale.tiredness.courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'tiredness-complex-6.png'
                }
            }
        },
        'parasites': {
            title: nichesLocale.parasites.title,
            courses: {
                4: {
                    badge: nichesLocale.parasites.courses[0].badge,
                    // discount: nichesLocale.parasites.courses[0].discount,
                    subtitle: nichesLocale.parasites.courses[0].subtitle,
                    products: nichesProductList.parasites.courses[0].products,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    image: 'parasites-complex.png'
                },
                6: {
                    badge: nichesLocale.parasites.courses[1].badge,
                    // discount: nichesLocale.parasites.courses[1].discount,
                    subtitle: nichesLocale.parasites.courses[1].subtitle,
                    description: nichesLocale.parasites.courses[1].description,
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                        bonuses: t.common.price.bonuses,
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    image: 'parasites-complex-6.png'
                }
            }
        }
    };

    function createCourseOption(niche, packs, complexNumber) {
        const config = COURSE_CONFIG[niche];
        const courseData = config.courses[packs];
        const pricing = getCoursePrice(packs);

        return [
            {
                tag: 'input',
                attributes: {
                    'data-niche': niche,
                    'data-packs': packs,
                    type: 'radio',
                    name: 'course',
                    value: `complex${complexNumber}`,
                    checked: complexNumber === 1
                }
            },
            {
                tag: 'div',
                className: 'option-content',
                children: [
                    {
                        tag: 'div',
                        className: 'subtitle',
                        text: courseData.subtitle
                    },

                    {
                        tag: 'div',
                        className: 'products',
                        children: [
                            {
                                tag: 'div',
                                className: 'badge',
                                text: `${courseData.badge} ${pricing.discount} ${pricing.currency.full}!`
                            },
                            {
                                tag: 'img',
                                attributes: {
                                    src: basePath + `img/${courseData.image}`,
                                    alt: config.title
                                }
                            }]
                    },


                    {
                        tag: 'div',
                        className: 'order__price',
                        children: [
                            {
                                tag: 'div',
                                className: 'order__price-val',
                                children: [
                                    {
                                        tag: 'h5',
                                        className: 'order__price-title',
                                        text: courseData.price.oldTitle
                                    },
                                    {
                                        tag: 'p',
                                        className: 'order__price-before',
                                        children: [
                                            {
                                                tag: 'span',
                                                className: 'order__price-previous',
                                                text: pricing.originalPrice
                                            },
                                            {
                                                tag: 'span',
                                                className: 'order__price-currency',
                                                text: pricing.currency.short
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                tag: 'div',
                                className: 'order__price-val',
                                children: [
                                    {
                                        tag: 'h5',
                                        className: 'order__price-title',
                                        text: courseData.price.newTitle
                                    },
                                    {
                                        tag: 'p',
                                        className: 'order__price-after',
                                        children: [
                                            {
                                                tag: 'span',
                                                className: 'order__price-current',
                                                text: pricing.finalPrice
                                            },
                                            {
                                                tag: 'span',
                                                className: 'order__price-currency',
                                                text: pricing.currency.short
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        tag: 'div',
                        className: 'product__counts',
                        text: `${courseData.tags.tag}`
                    },


                    // courseData.discount && {
                    //     tag: 'div',
                    //     className: 'discount',
                    //     text: courseData.discount
                    // },

                    packs === 4 && {
                        tag: 'ul',
                        children: courseData.products.map(product => ({
                            tag: 'li',
                            children: [
                                {
                                    tag: 'div',
                                    className: 'product__content',
                                    children: [
                                        {
                                            className: 'text-bold',
                                            tag: 'b',
                                            text: product.name + (product.amount ? ` ${product.amount}` : '')
                                        },
                                        {
                                            tag: 'span',
                                            text: ` — ${product.description}`
                                        }
                                    ]
                                }
                            ]
                        }))
                    },
                    packs === 6 && {
                        tag: 'p',
                        className: 'course-option__description bold',
                        text: courseData.description[0]
                    },
                    packs === 6 && {
                        tag: 'p',
                        className: 'course-option__description',
                        text: courseData.description[1]
                    }

                ].filter(Boolean)
            }
        ]
    }

    function generateNiches(packs, complexNumber) {
        return Object.keys(COURSE_CONFIG).reduce((acc, niche) => {
            acc[niche] = {
                elements: createCourseOption(niche, packs, complexNumber)
            };
            return acc;
        }, {});
    }

    const courseConfig = [
        {packs: 4, niches: generateNiches(4, 1)},
        {packs: 6, niches: generateNiches(6, 2)}
    ];
