-
    const presentNichesLocale = t.presentation.niches

    const PRESENTATIONS_CONFIG = {
        'joints': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Joints and movement",
                        courseName: "Maximum comfort for joints",
                        price: `${presentNichesLocale.joints.courses[0].price.amount} ${presentNichesLocale.joints.courses[0].price.currency}`,
                        productList: presentNichesLocale.joints.courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.joints.courses[0].title,
                    description: presentNichesLocale.joints.courses[0].description,
                    benefitsTitle: presentNichesLocale.joints.courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale.joints.courses[0].benefitsList,
                    recommendTitle: presentNichesLocale.joints.courses[0].recommendTitle,
                    recommendName: presentNichesLocale.joints.courses[0].recommendName,
                    saving: presentNichesLocale.joints.courses[0].saving,
                    products: presentNichesLocale.joints.courses[0].products,
                    footnote: presentNichesLocale.joints.courses[0].footnote,
                    price: {
                        label: presentNichesLocale.joints.courses[0].price.label,
                        calculation: presentNichesLocale.joints.courses[0].price.calculation,
                        amount: presentNichesLocale.joints.courses[0].price.amount,
                        currency: presentNichesLocale.joints.courses[0].price.currency
                    },
                    image: 'joints-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Joints and movement",
                        courseName: "Maximum comfort for joints",
                        price: `${presentNichesLocale.joints.courses[1].price.amount} ${presentNichesLocale.joints.courses[1].price.currency}`,
                        productList: presentNichesLocale.joints.courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.joints.courses[1].title,
                    description: presentNichesLocale.joints.courses[1].description,
                    benefitsTitle: presentNichesLocale.joints.courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale.joints.courses[1].benefitsList,
                    recommendTitle: presentNichesLocale.joints.courses[1].recommendTitle,
                    recommendName: presentNichesLocale.joints.courses[1].recommendName,
                    saving: presentNichesLocale.joints.courses[1].saving,
                    products: presentNichesLocale.joints.courses[1].products,
                    footnote: presentNichesLocale.joints.courses[1].footnote,
                    price: {
                        label: presentNichesLocale.joints.courses[1].price.label,
                        calculation: presentNichesLocale.joints.courses[1].price.calculation,
                        amount: presentNichesLocale.joints.courses[1].price.amount,
                        currency: presentNichesLocale.joints.courses[1].price.currency
                    },
                    image: 'joints-complex.png'
                }
            }
        },
        'diabetes': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Sugar Balance Kit",
                        courseName: "Comprehensive Sugar Control",
                        price: `${presentNichesLocale.diabetes.courses[0].price.amount} ${presentNichesLocale.diabetes.courses[0].price.currency}`,
                        productList: presentNichesLocale.diabetes.courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.diabetes.courses[0].title,
                    description: presentNichesLocale.diabetes.courses[0].description,
                    benefitsTitle: presentNichesLocale.diabetes.courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale.diabetes.courses[0].benefitsList,
                    recommendTitle: presentNichesLocale.diabetes.courses[0].recommendTitle,
                    recommendName: presentNichesLocale.diabetes.courses[0].recommendName,
                    saving: presentNichesLocale.diabetes.courses[0].saving,
                    products: presentNichesLocale.diabetes.courses[0].products,
                    footnote: presentNichesLocale.diabetes.courses[0].footnote,
                    price: {
                        label: presentNichesLocale.diabetes.courses[0].price.label,
                        calculation: presentNichesLocale.diabetes.courses[0].price.calculation,
                        amount: presentNichesLocale.diabetes.courses[0].price.amount,
                        currency: presentNichesLocale.diabetes.courses[0].price.currency
                    },
                    image: 'diabetes-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Sugar Balance Kit",
                        courseName: "Comprehensive Sugar Control",
                        price: `${presentNichesLocale.diabetes.courses[1].price.amount} ${presentNichesLocale.diabetes.courses[1].price.currency}`,
                        productList: presentNichesLocale.diabetes.courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.diabetes.courses[1].title,
                    description: presentNichesLocale.diabetes.courses[1].description,
                    benefitsTitle: presentNichesLocale.diabetes.courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale.diabetes.courses[1].benefitsList,
                    recommendTitle: presentNichesLocale.diabetes.courses[1].recommendTitle,
                    recommendName: presentNichesLocale.diabetes.courses[1].recommendName,
                    saving: presentNichesLocale.diabetes.courses[1].saving,
                    products: presentNichesLocale.diabetes.courses[1].products,
                    footnote: presentNichesLocale.diabetes.courses[1].footnote,
                    price: {
                        label: presentNichesLocale.diabetes.courses[1].price.label,
                        calculation: presentNichesLocale.diabetes.courses[1].price.calculation,
                        amount: presentNichesLocale.diabetes.courses[1].price.amount,
                        currency: presentNichesLocale.diabetes.courses[1].price.currency
                    },
                    image: 'diabetes-complex.png'
                }
            }
        },
        'blood-pressure': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Pressure and Blood Vessels Kit",
                        courseName: "Vascular Program and Fluid Balance",
                        price: `${presentNichesLocale['blood-pressure'].courses[0].price.amount} ${presentNichesLocale['blood-pressure'].courses[0].price.currency}`,
                        productList: presentNichesLocale['blood-pressure'].courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale['blood-pressure'].courses[0].title,
                    description: presentNichesLocale['blood-pressure'].courses[0].description,
                    benefitsTitle: presentNichesLocale['blood-pressure'].courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale['blood-pressure'].courses[0].benefitsList,
                    recommendTitle: presentNichesLocale['blood-pressure'].courses[0].recommendTitle,
                    recommendName: presentNichesLocale['blood-pressure'].courses[0].recommendName,
                    saving: presentNichesLocale['blood-pressure'].courses[0].saving,
                    products: presentNichesLocale['blood-pressure'].courses[0].products,
                    footnote: presentNichesLocale['blood-pressure'].courses[0].footnote,
                    price: {
                        label: presentNichesLocale['blood-pressure'].courses[0].price.label,
                        calculation: presentNichesLocale['blood-pressure'].courses[0].price.calculation,
                        amount: presentNichesLocale['blood-pressure'].courses[0].price.amount,
                        currency: presentNichesLocale['blood-pressure'].courses[0].price.currency
                    },
                    image: 'bloodpressure-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Pressure and Blood Vessels Kit",
                        courseName: "Vascular Program and Fluid Balance",
                        price: `${presentNichesLocale['blood-pressure'].courses[1].price.amount} ${presentNichesLocale['blood-pressure'].courses[1].price.currency}`,
                        productList: presentNichesLocale['blood-pressure'].courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale['blood-pressure'].courses[1].title,
                    description: presentNichesLocale['blood-pressure'].courses[1].description,
                    benefitsTitle: presentNichesLocale['blood-pressure'].courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale['blood-pressure'].courses[1].benefitsList,
                    recommendTitle: presentNichesLocale['blood-pressure'].courses[1].recommendTitle,
                    recommendName: presentNichesLocale['blood-pressure'].courses[1].recommendName,
                    saving: presentNichesLocale['blood-pressure'].courses[1].saving,
                    products: presentNichesLocale['blood-pressure'].courses[1].products,
                    footnote: presentNichesLocale['blood-pressure'].courses[1].footnote,
                    price: {
                        label: presentNichesLocale['blood-pressure'].courses[1].price.label,
                        calculation: presentNichesLocale['blood-pressure'].courses[1].price.calculation,
                        amount: presentNichesLocale['blood-pressure'].courses[1].price.amount,
                        currency: presentNichesLocale['blood-pressure'].courses[1].price.currency
                    },
                    image: 'bloodpressure-complex.png'
                }
            }
        },
        'weight-loss': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Weight Control Kit",
                        courseName: "Overall Weight Control",
                        price: `${presentNichesLocale['weight-loss'].courses[0].price.amount} ${presentNichesLocale['weight-loss'].courses[0].price.currency}`,
                        productList: presentNichesLocale['weight-loss'].courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale['weight-loss'].courses[0].title,
                    description: presentNichesLocale['weight-loss'].courses[0].description,
                    benefitsTitle: presentNichesLocale['weight-loss'].courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale['weight-loss'].courses[0].benefitsList,
                    recommendTitle: presentNichesLocale['weight-loss'].courses[0].recommendTitle,
                    recommendName: presentNichesLocale['weight-loss'].courses[0].recommendName,
                    saving: presentNichesLocale['weight-loss'].courses[0].saving,
                    products: presentNichesLocale['weight-loss'].courses[0].products,
                    footnote: presentNichesLocale['weight-loss'].courses[0].footnote,
                    price: {
                        label: presentNichesLocale['weight-loss'].courses[0].price.label,
                        calculation: presentNichesLocale['weight-loss'].courses[0].price.calculation,
                        amount: presentNichesLocale['weight-loss'].courses[0].price.amount,
                        currency: presentNichesLocale['weight-loss'].courses[0].price.currency
                    },
                    image: 'weightloss-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Weight Control Kit",
                        courseName: "Overall Weight Control",
                        price: `${presentNichesLocale['weight-loss'].courses[1].price.amount} ${presentNichesLocale['weight-loss'].courses[1].price.currency}`,
                        productList: presentNichesLocale['weight-loss'].courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale['weight-loss'].courses[1].title,
                    description: presentNichesLocale['weight-loss'].courses[1].description,
                    benefitsTitle: presentNichesLocale['weight-loss'].courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale['weight-loss'].courses[1].benefitsList,
                    recommendTitle: presentNichesLocale['weight-loss'].courses[1].recommendTitle,
                    recommendName: presentNichesLocale['weight-loss'].courses[1].recommendName,
                    saving: presentNichesLocale['weight-loss'].courses[1].saving,
                    products: presentNichesLocale['weight-loss'].courses[1].products,
                    footnote: presentNichesLocale['weight-loss'].courses[1].footnote,
                    price: {
                        label: presentNichesLocale['weight-loss'].courses[1].price.label,
                        calculation: presentNichesLocale['weight-loss'].courses[1].price.calculation,
                        amount: presentNichesLocale['weight-loss'].courses[1].price.amount,
                        currency: presentNichesLocale['weight-loss'].courses[1].price.currency
                    },
                    image: 'weightloss-complex.png'
                }
            }
        },
        'tiredness': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Fatigue Kit (Energy)",
                        courseName: "Energy and Balance Program",
                        price: `${presentNichesLocale.tiredness.courses[0].price.amount} ${presentNichesLocale.tiredness.courses[0].price.currency}`,
                        productList: presentNichesLocale.tiredness.courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.tiredness.courses[0].title,
                    description: presentNichesLocale.tiredness.courses[0].description,
                    benefitsTitle: presentNichesLocale.tiredness.courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale.tiredness.courses[0].benefitsList,
                    recommendTitle: presentNichesLocale.tiredness.courses[0].recommendTitle,
                    recommendName: presentNichesLocale.tiredness.courses[0].recommendName,
                    saving: presentNichesLocale.tiredness.courses[0].saving,
                    products: presentNichesLocale.tiredness.courses[0].products,
                    footnote: presentNichesLocale.tiredness.courses[0].footnote,
                    price: {
                        label: presentNichesLocale.tiredness.courses[0].price.label,
                        calculation: presentNichesLocale.tiredness.courses[0].price.calculation,
                        amount: presentNichesLocale.tiredness.courses[0].price.amount,
                        currency: presentNichesLocale.tiredness.courses[0].price.currency
                    },
                    image: 'tiredness-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Fatigue Kit (Energy)",
                        courseName: "Energy and Balance Program",
                        price: `${presentNichesLocale.tiredness.courses[1].price.amount} ${presentNichesLocale.tiredness.courses[1].price.currency}`,
                        productList: presentNichesLocale.tiredness.courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.tiredness.courses[1].title,
                    description: presentNichesLocale.tiredness.courses[1].description,
                    benefitsTitle: presentNichesLocale.tiredness.courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale.tiredness.courses[1].benefitsList,
                    recommendTitle: presentNichesLocale.tiredness.courses[1].recommendTitle,
                    recommendName: presentNichesLocale.tiredness.courses[1].recommendName,
                    saving: presentNichesLocale.tiredness.courses[1].saving,
                    products: presentNichesLocale.tiredness.courses[1].products,
                    footnote: presentNichesLocale.tiredness.courses[1].footnote,
                    price: {
                        label: presentNichesLocale.tiredness.courses[1].price.label,
                        calculation: presentNichesLocale.tiredness.courses[1].price.calculation,
                        amount: presentNichesLocale.tiredness.courses[1].price.amount,
                        currency: presentNichesLocale.tiredness.courses[1].price.currency
                    },
                    image: 'tiredness-complex.png'
                }
            }
        },
        'parasites': {
            courses: {
                4: {
                    sendData: {
                        problemType: "Overall health improvement",
                        courseName: "Overall Health Improvement - Maximum",
                        price: `${presentNichesLocale.parasites.courses[0].price.amount} ${presentNichesLocale.parasites.courses[0].price.currency}`,
                        productList: presentNichesLocale.parasites.courses[0].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.parasites.courses[0].title,
                    description: presentNichesLocale.parasites.courses[0].description,
                    benefitsTitle: presentNichesLocale.parasites.courses[0].benefitsTitle,
                    benefitsList: presentNichesLocale.parasites.courses[0].benefitsList,
                    recommendTitle: presentNichesLocale.parasites.courses[0].recommendTitle,
                    recommendName: presentNichesLocale.parasites.courses[0].recommendName,
                    saving: presentNichesLocale.parasites.courses[0].saving,
                    products: presentNichesLocale.parasites.courses[0].products,
                    footnote: presentNichesLocale.parasites.courses[0].footnote,
                    price: {
                        label: presentNichesLocale.parasites.courses[0].price.label,
                        calculation: presentNichesLocale.parasites.courses[0].price.calculation,
                        amount: presentNichesLocale.parasites.courses[0].price.amount,
                        currency: presentNichesLocale.parasites.courses[0].price.currency
                    },
                    image: 'parasites-complex.png'
                },
                6: {
                    sendData: {
                        problemType: "Overall health improvement",
                        courseName: "Overall Health Improvement - Maximum",
                        price: `${presentNichesLocale.parasites.courses[1].price.amount} ${presentNichesLocale.parasites.courses[1].price.currency}`,
                        productList: presentNichesLocale.parasites.courses[1].products.map(product => product.name).join(', ')
                    },
                    title: presentNichesLocale.parasites.courses[1].title,
                    description: presentNichesLocale.parasites.courses[1].description,
                    benefitsTitle: presentNichesLocale.parasites.courses[1].benefitsTitle,
                    benefitsList: presentNichesLocale.parasites.courses[1].benefitsList,
                    recommendTitle: presentNichesLocale.parasites.courses[1].recommendTitle,
                    recommendName: presentNichesLocale.parasites.courses[1].recommendName,
                    saving: presentNichesLocale.parasites.courses[1].saving,
                    products: presentNichesLocale.parasites.courses[1].products,
                    footnote: presentNichesLocale.parasites.courses[1].footnote,
                    price: {
                        label: presentNichesLocale.parasites.courses[1].price.label,
                        calculation: presentNichesLocale.parasites.courses[1].price.calculation,
                        amount: presentNichesLocale.parasites.courses[1].price.amount,
                        currency: presentNichesLocale.parasites.courses[1].price.currency
                    },
                    image: 'parasites-complex.png'
                }
            }
        }
    };

    function createPresentation(niche, packs) {
        const config = PRESENTATIONS_CONFIG[niche];
        const presentationData = config.courses[packs];

        return [
            {
                tag: 'div',
                className: 'presentation__top',
                children: [
                    {
                        tag: 'h2',
                        className: 'presentation__title',
                        text: presentationData.title,
                    },
                    {
                        tag: 'p',
                        className: 'presentation__desc',
                        text: presentationData.description
                    }
                ]
            },
            {
                tag: 'div',
                className: 'presentation__benefits',
                children: [
                    {
                        tag: 'strong',
                        text: presentationData.benefitsTitle
                    },
                    {
                        tag: 'ul',
                        children: presentationData.benefitsList.map(item => ({
                            tag: 'li',
                            text: item
                        }))
                    }
                ]
            },
            {
                tag: 'div',
                className: 'presentation__recommend',
                children: [

                    {
                        tag: 'div',
                        className: 'presentation__subtitle',
                        children: [
                            {
                                tag: 'h3',
                                text: presentationData.recommendTitle
                            },
                            {
                                tag: 'strong',
                                text: presentationData.recommendName
                            }
                        ]
                    },
                    {
                        tag: 'div',
                        className: 'presentation__images',
                        children: [
                            {
                                tag: 'p',
                                className: 'presentation__saving',
                                text: presentationData.saving
                            },
                            {
                                tag: 'img',
                                attributes: {
                                    src: basePath + `img/${presentationData.image}`,
                                    alt: 'complex products'
                                }
                            }
                        ]
                    },
                    {
                        tag: 'ul',
                        className: 'products',
                        children: presentationData.products.map(product => ({
                            tag: 'li',
                            className: 'product',
                            text: `${product.name} — ${product.description}`
                        }))
                    },
                    {
                        tag: 'p',
                        className: 'presentation__footnote',
                        text: presentationData.footnote
                    },

                    {
                        tag: 'p',
                        className: 'presentation__price',
                        children: [
                            {
                                tag: 'span',
                                text: `${presentationData.price.label}: `,
                            },
                            {
                                tag: 'span',
                                className: 'nowrap',
                                text: `${presentationData.price.calculation} = ${presentationData.price.amount} ${presentationData.price.currency}`
                            }
                        ]
                    }
                ]
            }
        ]
    }

    function generatePresNiches(packs) {
        return Object.keys(PRESENTATIONS_CONFIG).reduce((acc, niche) => {
            acc[niche] = {
                sendData: {
                    problemType: PRESENTATIONS_CONFIG[niche].courses[packs].sendData.problemType,
                    courseName: PRESENTATIONS_CONFIG[niche].courses[packs].sendData.courseName,
                    price: PRESENTATIONS_CONFIG[niche].courses[packs].sendData.price,
                    productList: PRESENTATIONS_CONFIG[niche].courses[packs].sendData.productList
                },
                elements: createPresentation(niche, packs)
            };
            return acc;
        }, {});
    }

    const presentationsConfig = [
        {packs: 4, niches: generatePresNiches(4)},
        {packs: 6, niches: generatePresNiches(6)}
    ];