-
    const orderNichesLocale = t.order.niches

    const ORDER_CONFIG = {
        'joints': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.joints.courses[0].description,
                    image: 'joints-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.joints.courses[1].description,
                    image: 'joints-complex.png'
                }
            }
        },
        'diabetes': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.diabetes.courses[0].description,
                    image: 'diabetes-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.diabetes.courses[1].description,
                    image: 'diabetes-complex.png'
                }
            }
        },
        'blood-pressure': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale['blood-pressure'].courses[0].description,
                    image: 'bloodpressure-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale['blood-pressure'].courses[1].description,
                    image: 'bloodpressure-complex.png'
                }
            }
        },
        'weight-loss': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale['weight-loss'].courses[0].description,
                    image: 'weightloss-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale['weight-loss'].courses[1].description,
                    image: 'weightloss-complex.png'
                }
            }
        },
        'tiredness': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.tiredness.courses[0].description,
                    image: 'tiredness-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.tiredness.courses[1].description,
                    image: 'tiredness-complex.png'
                }
            }
        },
        'parasites': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.parasites.courses[0].description,
                    image: 'parasites-complex.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    special: t.order.special,
                    description: orderNichesLocale.parasites.courses[1].description,
                    image: 'parasites-complex.png'
                }
            }
        }
    };

    function createOrderContent(niche, packs) {
        const config = ORDER_CONFIG[niche];
        const orderData = config.courses[packs];
        const pricing = getCoursePrice(packs);

        return [
            {
                tag: 'h2',
                className: 'order__title title',
                text: `${orderData.title.beforePrice} ${pricing.discount}${pricing.currency.short} ${orderData.title.afterPrice}`
            },
            {
                tag: 'div',
                className: 'order__products',
                children: [
                    {
                        tag: 'img',
                        attributes: {
                            src: basePath + `img/${orderData.image}`,
                            alt: 'product'
                        }
                    }
                ]
            },
            {
                tag: 'div',
                className: 'order__offer',
                children: [
                    {
                        tag: 'span',
                        className: 'tag',
                        text: `${orderData.tags.tag} ${pricing.originalPrice}${pricing.currency.short} - ${pricing.discount}${pricing.currency.short} =`
                    },
                    {
                        tag: 'span',
                        className: 'current',
                        text: pricing.finalPrice + pricing.currency.short
                    }
                ]
            },
            {
                tag: 'div',
                className: 'order__wrapper',
                children: [
                    {
                        tag: 'div',
                        className: 'special__offer',
                        children: [
                            {
                                tag: 'span',
                                className: 'tag',
                                text: orderData.special + ': '
                            },
                            {
                                tag: 'span',
                                className: 'current',
                                text: pricing.finalPrice + pricing.currency.short
                            }
                        ]
                    }
                ]
            },
            {
                tag: 'p',
                className: 'order__description',
                text: orderData.description
            }
        ]
    }

    function generateOrderNiches(packs) {
        return Object.keys(ORDER_CONFIG).reduce((acc, niche) => {
            acc[niche] = {
                elements: createOrderContent(niche, packs)
            };
            return acc;
        }, {});
    }

    const orderConfig = [
        {packs: 4, niches: generateOrderNiches(4)},
        {packs: 6, niches: generateOrderNiches(6)}
    ];