-
    const orderNichesLocale = t.order.niches

    const ORDER_CONFIG = {
        'joints': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.joints.courses[0].description,
                    image: 'joints-plan-1.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.joints.courses[1].description,
                    image: 'joints-plan-2.png'
                }
            }
        },
        'diabetes': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.diabetes.courses[0].description,
                    image: 'diabetes-plan-1.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.diabetes.courses[1].description,
                    image: 'diabetes-plan-2.png'
                }
            }
        },
        'blood-pressure': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale['blood-pressure'].courses[0].description,
                    image: 'blood-pressure-plan-1.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale['blood-pressure'].courses[1].description,
                    image: 'blood-pressure-plan-2.png'
                }
            }
        },
        'weight-loss': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale['weight-loss'].courses[0].description,
                    image: 'weight-loss-plan-1.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale['weight-loss'].courses[1].description,
                    image: 'weight-loss-plan-2.png'
                }
            }
        },
        'tiredness': {
            courses: {
                4: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[0].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.tiredness.courses[0].description,
                    image: 'tiredness-plan-1.png'
                },
                6: {
                    title: {
                        beforePrice: t.order.title.beforePrice,
                        afterPrice: t.order.title.afterPrice
                    },
                    tags: {
                        tag: t.order.tags[1].tag
                    },
                    price: {
                        oldTitle: t.common.price.oldTitle,
                        newTitle: t.common.price.newTitle,
                    },
                    special: t.order.special,
                    description: orderNichesLocale.tiredness.courses[1].description,
                    image: 'tiredness-plan-2.png'
                }
            }
        },
    };

    function createOrderContent(niche, packs) {
        const config = ORDER_CONFIG[niche];
        const orderData = config.courses[packs];
        const pricing = getCoursePrice(packs);

        return [
            {
                tag: 'h2',
                className: 'order__title title',
                text: `${orderData.title.beforePrice} ${pricing.discount}${pricing.currency.short} ${orderData.title.afterPrice}`
            },
            {
                tag: 'div',
                className: 'order__products',
                children: [
                    {
                        tag: 'img',
                        attributes: {
                            src: basePath + `img/${orderData.image}`,
                            alt: 'product'
                        }
                    }
                ]
            },
            {
                tag: 'div',
                className: 'order__offer',
                children: [
                    {
                        tag: 'span',
                        className: 'tag',
                        text: `${orderData.tags.tag}: ${pricing.originalPrice}${pricing.currency.short} - ${pricing.discount}${pricing.currency.short} =`
                    },
                    {
                        tag: 'span',
                        className: 'current',
                        text: pricing.finalPrice + pricing.currency.short
                    }
                ]
            },

            // {
            //     tag: 'div',
            //     className: 'order__wrapper',
            //     children: [
            //         {
            //             tag: 'div',
            //             className: 'special__offer',
            //             children: [
            //                 {
            //                     tag: 'span',
            //                     className: 'tag',
            //                     text: orderData.special + ': '
            //                 },
            //                 {
            //                     tag: 'span',
            //                     className: 'current',
            //                     text: pricing.finalPrice + pricing.currency.short
            //                 }
            //             ]
            //         }
            //     ]
            // },
            {
                tag: 'div',
                className: 'order__wrapper',
                children: [
                    {
                        tag: 'div',
                        className: 'order__price',
                        children: [
                            {
                                tag: 'div',
                                className: 'order__price-val',
                                children: [
                                    {
                                        tag: 'h5',
                                        className: 'order__price-title',
                                        text: orderData.price.oldTitle
                                    },
                                    {
                                        tag: 'p',
                                        className: 'order__price-before',
                                        children: [
                                            {
                                                tag: 'span',
                                                className: 'order__price-previous',
                                                text: pricing.originalPrice
                                            },
                                            {
                                                tag: 'span',
                                                className: 'order__price-currency',
                                                text: pricing.currency.short
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                tag: 'div',
                                className: 'order__price-val',
                                children: [
                                    {
                                        tag: 'h5',
                                        className: 'order__price-title',
                                        text: orderData.price.newTitle
                                    },
                                    {
                                        tag: 'p',
                                        className: 'order__price-after',
                                        children: [
                                            {
                                                tag: 'span',
                                                className: 'order__price-current',
                                                text: pricing.finalPrice
                                            },
                                            {
                                                tag: 'span',
                                                className: 'order__price-currency',
                                                text: pricing.currency.short
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
            {
                tag: 'p',
                className: 'order__description',
                text: orderData.description
            }
        ]
    }

    function generateOrderNiches(packs) {
        return Object.keys(ORDER_CONFIG).reduce((acc, niche) => {
            acc[niche] = {
                elements: createOrderContent(niche, packs)
            };
            return acc;
        }, {});
    }

    const orderConfig = [
        {packs: 4, niches: generateOrderNiches(4)},
        {packs: 6, niches: generateOrderNiches(6)}
    ];