include ../data/courses/config

section.course.block(class="screen hidden" id="screen-course")
    .container
        .course-modal
            h2.course__title!= t.course.title

            .course-options
                label.course-option
                    .course-option__content#four-course(data-config=JSON.stringify(courseConfig[0]))
                    button.course__select.course__details.btn(
                        type="button"
                        id="from-course-to-presentations"
                        data-target-screen="screen-presentations"
                    )= 'Детальніше'
                    button.course__select.btn(
                        type="button"
                        id="from-course-to-order-form"
                        data-target-screen="screen-order"
                    )= 'Замовити'

                label.course-option
                    .course-option__content#six-course(data-config=JSON.stringify(courseConfig[1]))
                    button.course__select.course__details.btn(
                        type="button"
                        id="from-course-to-presentations"
                        data-target-screen="screen-presentations"
                    )= 'Детальніше'
                    button.course__select.btn(
                           type="button"
                        id="from-course-to-order-form"
                        data-target-screen="screen-order"
                    )= 'Замовити'

            button.course__problems.btn(
                type="button"
                id="from-course-to-problems"
                data-target-screen="screen-problems"
            )= 'Обрати іншу проблему'