section.course.block(class="screen hidden" id="screen-course")
    .container
        .course-modal
            h2.course__title!= t.course.title

            .course-options
                each option in t.course.options
                    label.course-option
                        input(type="radio" name="course" value=option.value checked=option.checked)
                        .option-content
                            .badge= option.badge
                            .products
                                img(src=basePath + "img/" + option.img alt="Комплекси продуктів")
                            .price= option.price
                            .subtitle= option.subtitle
                            ul
                                each item in option.productsList
                                    li= item

            button.course__select(type="button" data-target-screen="screen-order")= t.course.btnSelect
