section.intro-popup.block(class="screen hidden" id="screen-intro-popup")
    .container
        h1.intro-popup__title.title.text-gold-fill!= t.introPopup.title

        form.intro-popup__form.stars-bg
            p.intro-popup__subtitle!= t.introPopup.subtitle

            // --- Promo code ---
            .form-group
                .input-wrapper
                    input(
                        type="text"
                        name="promo_code"
                        placeholder=t.common.promoCodePlaceholder
                        required
                    )
                    span.icon
                        img(src=basePath + "img/promocode-icon.svg" alt="")

            // --- Name ---
            .form-group
                .input-wrapper
                    input(
                        type="text"
                        name="name"
                        value="test"
                        placeholder=t.common.namePlaceholder
                        required
                    )
                    span.icon
                        img(src=basePath + "img/name-icon.svg" alt="")

            // --- Phone ---
            .form-group
                .input-wrapper
                    input(
                        type="tel"
                        name="phone"
                        pattern="\\d{7,}"
                        minlength="7"
                        title=t.validation.phone.patternTitle
                        placeholder=t.common.phonePlaceholder
                        required
                    )
                    span.icon
                        img(src=basePath + "img/phone-icon.svg" alt="")

            button.intro-popup__submit.btn(type="submit" id="submit-callback-form")= t.introPopup.btnSubmit

            p.intro-popup__privacy= t.common.privacyProtected