section.intro.block(class="screen" id="screen-intro")
    .container
        h1.intro__title.text-gold-fill!= t.intro.title

        .intro__text
            p
                | #{t.intro.text1}
                span.text-bold.text-nowrap #{t.intro.scratch}
                |  #{t.intro.text2}
            p #{t.intro.text3}

        .intro__card
            img(src=basePath + "img/" + t.intro.cardImg alt="EUROBONUS")

        .intro__steps
            each step in t.intro.steps
                .intro__step
                    img(src=basePath + "img/" + step.img alt="")
                    span.text-bold #{step.text}

        .intro__actions
            button.intro__btn.intro__btn--call(data-target-screen="screen-intro-popup") #{t.intro.btnCall}
            button.intro__btn.intro__btn--site(data-target-screen="screen-intro-success") #{t.intro.btnSite}