section.intro-popup.block(class="screen hidden" id="screen-intro-popup")
    .container
        h1.intro-popup__title.title.text-gold-fill!= t.introPopup.title


        form.intro-popup__form
            p.intro-popup__subtitle!= t.introPopup.subtitle
            each field in t.introPopup.form
                .form-group
                    //label= field.label
                    .input-wrapper
                        input(
                            type=field.type
                            name=field.name
                            placeholder=field.placeholder
                            required=field.required
                        )
                        span.icon= field.icon

            button.intro-popup__submit.btn(type="submit")= t.introPopup.btnSubmit

            p.intro-popup__privacy= t.introPopup.privacyText
