section.intro-success.block(class="screen hidden" id="screen-intro-success")
    .container
        .success-card.stars-bg
            h1.intro-success__title!= t.introSuccess.title

            p.intro-success__text
                - const lines = t.introSuccess.text.split('\n')
                each line, idx in lines
                    | #{line}
                    if idx !== lines.length - 1
                        br

            form.intro-success__form

                // --- Promo code ---
                .form-group
                    .input-wrapper
                        input(
                            type="text"
                            name="promo_code"
                            placeholder=t.common.promoCodePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/promocode-icon.svg" alt="")

                button.intro-success__submit(
                    type="submit"
                    disabled=t.introSuccess.btnSubmit.disabled
                    id="from-promo-code-to-problems"
                    data-target-screen="screen-problems"
                )= t.introSuccess.btnSubmit.text