include ../mixins/reviews

- const stepsIcon = ["img/icon-scratch.svg", "img/icon-click.svg", "img/icon-gift.svg"]
- const cardSrcMap = { en: "img/cupon-en.png",hr: "img/cupon-hr.png", sl: "img/cupon-sl.png"}

section.intro.block(class="screen" id="screen-intro")
    .container
        h1.intro__title.text-gold-fill!= t.intro.title
        p.intro__subtitle
            | #{t.intro.text1}
            |
            span.text-bold.text-nowrap #{t.intro.scratch}<br>
            |
            | #{t.intro.text2}

        .intro__inner
            .intro__left
                .intro__card
                    img(src=basePath + cardSrcMap[locale] alt="EUROBONUS")

            .intro__right
                .intro__steps
                    each step, index in t.intro.steps
                        .intro__step
                            img(src=basePath + stepsIcon[index] alt="")
                            span.text-bold #{step.text}
                p.intro__fn #{t.intro.text3}

        .intro-price
            .intro-price__left
                .intro-price__sale
                    .intro-price__sale-percent!= t.intro.priceSection.salePercent
                    .intro-price__sale-text!= t.intro.priceSection.saleText
                span.intro-price__separator
                .intro-price__old
                    .intro-price__old-title!= t.intro.priceSection.oldPriceTitle
                    .intro-price__old-value!= t.intro.priceSection.oldPriceValue

            .intro-price__right
                .intro-price__new
                    .intro-price__new-title!= t.intro.priceSection.newPriceTitle
                    .intro-price__new-inner
                        .intro-price__new-value!= t.intro.priceSection.newPriceValue
                        .intro-price__new-text!= t.intro.priceSection.newPriceText
                .intro-price__note!= t.intro.priceSection.note

        .intro__actions
            button.intro__btn.intro__btn--call(data-target-screen="screen-intro-popup" id="from-intro-to-callback-form") #{t.intro.btnCall}
            button.intro__btn.intro__btn--site(data-target-screen="screen-intro-success" id="from-intro-to-promo-code") #{t.intro.btnSite}

        .intro__reviews
            +reviews('all')
            //include reviews