include ../data/order/config

section.order.block(class="screen hidden" id="screen-order")
    .container
        .order-card
            .order-card__content(data-config=JSON.stringify(orderConfig))

            form.order__form
                // --- Name ---
                .form-group
                    .input-wrapper
                        input(
                            type="text"
                            name="name"
                            value=''
                            placeholder=t.common.namePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/name-icon.svg" alt="")

                // --- Phone ---
                .form-group
                    .input-wrapper
                        input(
                            type="tel"
                            name="phone"
                            pattern="\\d{7,}"
                            minlength="7"
                            title=t.validation.phone.patternTitle
                            placeholder=t.common.phonePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/phone-icon.svg" alt="")

                button.order__submit.btn-arrow.btn-arrow--right(type="submit" id="submit-order-form")= t.order.btnSubmit

                p.order__privacy= t.common.privacyProtected

            button.order__next.btn.btn-arrow.btn-arrow--left.btn-arrow--double.btn-arrow--black(type="button" data-target-screen="screen-course" id="from-order-form-to-course")!= t.common.actions.selectAnotherCourse

