-
    const orderFormConfig = [
        {
            packs: 4,
            niches: {
                "joints": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "joints: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
                "diabetes": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "diabetes: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
                "blood-pressure": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "blood-pressure: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
                "weight-loss": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "weight-loss: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
                "tiredness": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "tiredness: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
                "parasites": {
                    elements: [
                        {
                            tag: 'h2',
                            className: 'order__title',
                            text: "parasites: " + t.order.title
                        },
                        {
                            tag: 'div',
                            className: 'order__products',
                            children: [
                                {
                                    tag: 'img',
                                    attributes: {
                                        src: basePath + 'img/products-group.png',
                                        alt: 'product'
                                    }
                                }
                            ]
                        },
                        {
                            tag: 'div',
                            className: 'order__offer',
                            children: [
                                {
                                    tag: 'span',
                                    className: 'tag',
                                    text: t.order.offer.tag
                                },
                                {
                                    tag: 'span',
                                    className: 'current',
                                    text: t.order.price.current
                                }
                            ]
                        }
                    ]
                },
            }
        }
    ]

section.order.block(class="screen hidden" id="screen-order")
    .container
        .order-card
            .order-card__content(data-config=JSON.stringify(orderFormConfig))
                //h2.order__title= t.order.title
                //
                //.order__products
                //    img(src=basePath + "img/products-group.png" alt="product")
                //
                //.order__offer
                //    span.tag= t.order.offer.tag
                //    span.current= t.order.price.current

            form.order__form

                // --- Name ---
                .form-group
                    .input-wrapper
                        input(
                            type="text"
                            name="name"
                            placeholder=t.common.namePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/name-icon.svg" alt="")

                // --- Phone ---
                .form-group
                    .input-wrapper
                        input(
                            type="tel"
                            name="phone"
                            placeholder=t.common.phonePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/phone-icon.svg" alt="")

                button.order__submit(type="submit" id="submit-order-form")= t.order.btnSubmit

            p.order__privacy= t.common.privacyProtected