section.order.block(class="screen hidden" id="screen-order")
    .container
        .order-card
            h2.order__title= t.order.title

            .order__products
                img(src=basePath + "img/products-group.png" alt="product")

            .order__offer
                span.tag= t.order.offer.tag
                span.current= t.order.price.current

            form.order__form

                // --- Name ---
                .form-group
                    .input-wrapper
                        input(
                            type="text"
                            name="name"
                            placeholder=t.common.namePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/name-icon.svg" alt="")

                // --- Phone ---
                .form-group
                    .input-wrapper
                        input(
                            type="tel"
                            name="phone"
                            placeholder=t.common.phonePlaceholder
                            required
                        )
                        span.icon
                            img(src=basePath + "img/phone-icon.svg" alt="")

                button.order__submit(type="submit")= t.order.btnSubmit

            p.order__privacy= t.common.privacyProtected