section.problems.block(class="screen hidden" id="screen-problems")
    .container
        h2.problems__title= t.problems.title

        .problems-wrapper
            each cat in t.problems.categories
                .accordion-item
                    label.accordion-header
                        input(type="radio" name="problem" value=cat.name required)
                        span= cat.name

                    .accordion-content
                        .accordion-content__inner
                            ol
                                each problem, idx in cat.list
                                    li
                                        span #{idx + 1}. #{problem}

        button.problems__next(
            type="button"
            data-target-screen="screen-presentations"
        )= t.problems.btnNext
