section.problems.block(class="screen hidden" id="screen-problems")
    .container
        h2.problems__title= t.problems.title

        ul.problems-list
            li.problems-list__item(data-niche="joints" data-target-screen="screen-course")
                .problems-list__icon
                    img(src=basePath + "img/problems-joints.svg" alt="")
                p.problems-list__text= t.problems.items.joints
            li.problems-list__item(data-niche="diabetes" data-target-screen="screen-course")
                .problems-list__icon
                    img(src=basePath + "img/problems-diabetes.svg" alt="")
                p.problems-list__text= t.problems.items.diabetes
            li.problems-list__item(data-niche="blood-pressure" data-target-screen="screen-course")
                .problems-list__icon
                    img(src=basePath + "img/problems-pressure.svg" alt="")
                p.problems-list__text= t.problems.items['blood-pressure']
            li.problems-list__item(data-niche="weight-loss" data-target-screen="screen-course")
                .problems-list__icon
                    img(src=basePath + "img/problems-weight.svg" alt="")
                p.problems-list__text= t.problems.items['weight-loss']
            li.problems-list__item(data-niche="tiredness" data-target-screen="screen-course")
                .problems-list__icon
                    img(src=basePath + "img/problems-tiredness.svg" alt="")
                p.problems-list__text= t.problems.items.tiredness
