section.thank-you.block
    .container
        .thank-you-card.stars-bg
            h1.thank-you__title= t.thankYou.title

            // вариант: заявка на звонок
            .thank-you__text--callback
                p.thank-you__text= t.thankYou.variants.callback.text
                p.thank-you__hint= t.thankYou.variants.callback.hint

            // вариант: заказ
            .thank-you__text--order.hidden
                p.thank-you__text= t.thankYou.variants.order.text
                p.thank-you__hint= t.thankYou.variants.order.hint
